body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2 {
    text-transform: uppercase;
}
.logo_viaje{
    width: 1.5em;
}

.navbar {
    position:fixed;
    top:0;
    z-index:10;
    width:100%;
    transition: transform .2s;
}

.navbar:hover{
    background-color: black;
}

.carousel {
    top:0;
}

.ab_info{
    margin: 2em .5em;
    transition: transform .2s;
}

.ab_info:hover{
    transform: scale(1.1);
}

.icono_ab{
    background-color: #0dcaf0;
    color: aliceblue;
    font-size: .8em;
    padding: .5em 1.5em;
    display: flex;
}

#destacados img{
    height: 12em;
}


.card {
    height: 30em;
    border-color: #ffffff;
    background-color: #0dcaf0;
    color: #ffffff;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1); 
}

.nav-link:hover {
    transform: scale(1.2);
}

.btn_form{
    background-color:#0dcaf0;
    color: beige;
}

.btn_form:hover{
    transform: scale(1.5);
    background-color: beige;
    color: #0dcaf0;
    margin: 1em 2em;
}

footer {
    background-color: #0dcaf0;
    padding: 2.5em;
    color: beige;
}

#ab_us , #destacados , #contacto{
    background-color: black;
    color: beige;
    padding: 2em 0em;
}

i {
    color:#ffffff;
    font-size: 2.5em;
    margin: 0rem .5rem;
}
